.DS_Store

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenv
.venv/
venv/

# Node
node_modules/
dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Local env files
.env
.env.*
